#For error in VSCode in too many activity
# node_modules

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.mp4
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# checkpoints


filelists/QMUL/*.zip
filelists/QMUL/images/
filelists/QMUL/QMUL_360degreeViewSphere_FaceDatabase
filelists/QMUL/*.json
filelists/QMUL/
filelists/omniglot/
filelists/omniglot/*.zip
filelists/omniglot/images
filelists/miniImagenet/miniImagenet_dataset/*.pkl
filelists/miniImagenet/*.csv
filelists/miniImagenet/*.json
filelists/miniImagenet/miniimagenet/
filelists/miniImagenet/train
filelists/miniImagenet/test
filelists/miniImagenet/val
filelists/CUB/*.zip
filelists/CUB/CUB_200_2011
filelists/CUB/*.txt
filelists/CUB


test.ipynb
test_plots.py
SparseGP.ipynb
SparseGP.py
# GP_Classification.py
GP_Classification.ipynb
save/*.png
filelists/*.jpg
filelists/*.json
filelists/omniglot/*.json
filelists/QMUL/*.json
filelists/CUB/*.json
filelists/miniImagenet/*.json
filelists/FSC147/*.json
filelists/MSC44/*.json
filelists/QMUL/images_all.rar
save/checkpoints/QMUL/*.png
save/checkpoints/QMUL/Conv3_DKT_Test_video/

filelists/CUB/CUB_200_2011.tgz
model.txt
save/checkpoints/QMUL/*.png
loss
filelists/omniglot/*.rar
filelists/omniglot/*.png

filelists/FSC147
# filelists/MSC44
filelists/MSC44/*.zip
filelists/MSC44/*.json
filelists/MSC44/images
filelists/MSC44/gt_density
filelists/MSC44/annotations

draft

test_old.ipynb

save/checkpoints/MSC44
save
save_img/
save/checkpoints/
save/checkpoints/QMUL/*.png
log
log

methods/K.mat

methods/targets.mat

methods/K2.mat
methods/targets2.mat
QMUL_Loss/
Sparse_DKT_binary_log/
Sparse_DKT_log/
MAML_Loss/
record/
Sparse_DKT_QMUL_Loss/
Sparse_DKT_QMUL_Loss_gamma/
Sparse_DKT_binary_CUB_log/
Sparse_DKT_binary_omniglot_log/
Sparse_DKT_QMUL_full_rvm_Loss/
Sparse_DKT_QMUL_rvm_Loss/
Sparse_DKT_QMUL_Nystrom_Loss/
Sparse_DKT_QMUL_Exact_Loss/
methods/Sparse_DKT_binary_rvm.py
Sparse_DKT_binary_rvm_CUB_log/
Sparse_DKT_binary_Nystrom_CUB_log/
Sparse_DKT_binary_Exact_CUB_log/
old-experiments.tar.gz
filelists/CUB/base.json
filelists/CUB/novel.json
filelists/CUB/val.json
filelists/CUB/val.json
filelists/CUB/val.json
filelists/CUB/write_CUB_filelist.py
filelists/CUB/novel.json
filelists/CUB/base.json
test_code.ipynb
filelists/CUB/base.json
filelists/CUB/novel.json
filelists/CUB/val.json
filelists/CUB
filelists/omniglot
filelists

Sparse_DKT_binary_Nystrom_CUB_log2/
methods/X.mat
Sparse_DKT_binary_Nystrom_omniglot_log/
Sparse_DKT_binary_Nystrom_new_loss_CUB_log/
Sparse_DKT_Nystrom_QMUL_Loss/
methods/X2.mat
Sparse_DKT_Nystrom_CUB_log/
Sparse_DKT_Nystrom_omniglot_log/
Sparse_DKT_binary_Nystrom_miniImagenet_log/
Sparse_DKT_Nystrom_QMUL_Loss_old/
Sparse_DKT_QMUL_Eaxct_Loss/
